@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Outfit:wght@400;700&family=Poppins:wght@400;700&family=Racing+Sans+One&family=Readex+Pro&family=Source+Sans+3:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3";
  font-weight: 700;
}

body {
  background: rgb(243, 244, 246);
}

.app {
  padding: 3.5rem 4rem;
  text-align: center;
  width: 30vw;
  height: 100vh;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  font-size: 1.5rem;
  cursor: pointer;
}

.app-header {
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

.balance-container {
  text-align: left;
  margin-bottom: 2rem;
}

#balance {
  font-weight: 500;
  font-size: 1.2rem;
}

.ie-container {
  box-shadow: 0px 0px 4px -3px rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: space-around;
  background: white;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 0.2rem;
}

.income-box p {
  color: green;
}

.expenses-box p {
  color: red;
}

.history-container {
  margin-bottom: 2rem;
  height: 15vh;
  overflow: auto;
}

.history-container-clear {
  height: 0px;
}

.history-header h2 {
  text-align: left;
}

.underline {
  border-bottom: 1.3px solid rgb(184, 181, 181);
  margin-bottom: 1.3rem;
}

.history-box {
  box-shadow: 0px 0px 4px -3px rgba(0, 0, 0, 0.95);
  background: white;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-right: 4px solid green;
  border-radius: 0.2rem;
  overflow: auto;
}

.history-box-red {
  border-right: 4px solid red;
}

.add-new-container {
  text-align: left;
}

.input label {
  display: block;
  margin-bottom: 0.7rem;
}

#title,
#amount {
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 0.2rem;
}

button {
  display: block;
  margin: auto;
  width: 100%;
  padding: 0.5rem 0rem;
  margin-top: 1rem;
  border: none;
  background: rgb(55, 34, 72);
  color: white;
  border-radius: 0.2rem;
}

.middleline {
  border-right: 2px solid rgb(204, 201, 201);
}

.alert {
  color: rgb(187, 36, 36);
  display: none;
}

.alert-show {
  display: block;
}
